__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

scripts/build/
scripts/dist/
scripts/*.spec

scripts/app_config.json
scripts/analyze_video.bak.py
scripts/analyze_video1.py

analysis_output/
*.log
